name: Label Issue
on:
  workflow_dispatch: {}
jobs:
  label-topic-change-issue:
    runs-on: ubuntu-latest
    steps:
    - name: Add Labels To Issue
      uses: actions/github-script@v7
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: "const issue = context.payload.issue;\nconst roadmapUrl = issue.body.match(/https?:\\\
          /\\/roadmap.sh\\/[^ ]+/);\n\n// if the issue is labeled as a topic-change,\
          \ add the roadmap slug as a label\nif (issue.labels.some(label => label.name\
          \ === 'topic-change')) {\n  if (roadmapUrl) {\n    const roadmapSlug = new\
          \ URL(roadmapUrl[0]).pathname.replace(/\\//, '');\n    github.rest.issues.addLabels({\n\
          \      owner: context.repo.owner,\n      repo: context.repo.repo,\n    \
          \  issue_number: issue.number,\n      labels: [roadmapSlug]\n    });\n \
          \ }\n\n  // Close the issue if it has no roadmap URL\n  if (!roadmapUrl)\
          \ {\n    github.rest.issues.update({\n      owner: context.repo.owner,\n\
          \      repo: context.repo.repo,\n      issue_number: issue.number,\n   \
          \   state: 'closed'\n    });\n  }\n}"
